<div class="ccontain">
  <h1>Cart</h1>
  <div class="grid lg:grid-cols-[5fr_3fr] gap-10 items-start"
       x-data="{ cart: $store.cartInfo }">
    <div :class="cart.updatingCart ? 'opacity-40 pointer-events-none touch-none' : ''">
      <template x-for="(item, index) in cart.cart.items"
                :key="item.key">
        <cart-item x-data="{ item: item, itemIndex: index }"></cart-item>
      </template>
    </div>
    <div class="px-12 py-6 flex flex-col bg-grey-2">
      <p class="mb-6 h4 text-center">
        Cart Summary
      </p>

      <p class="mt-1 flex justify-between">
        Original Price <span x-text="`$${(cart.cart.subtotal_price / 100.0).toFixed(2)}`"></span>
      </p>
      <p class="mt-1 flex justify-between">
        Discount <span x-text="`$${(cart.cart.cart_discount / 100.0).toFixed(2)}`"></span>
      </p>
      <p class="mt-1 flex justify-between">
        Subtotal <span x-text="`$${(cart.cart.price / 100.0).toFixed(2)}`"></span>
      </p>

      <a href="/checkout/"
         class="mt-16 button button--atc w-full">
        Checkout
      </a>
      <p class="mt-2 text-center text-small">
        * Shipping and taxes will be calculated at checkout
      </p>
    </div>
  </div>
</div>

{%- render 'spacer',
    _mobile_space: section.settings.bottom_margin_mobile,
    _desktop_space: section.settings.bottom_margin_desktop -%}

{% schema %}
  {
    "name": "Cart Page",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
        "id": "bottom_margin_mobile",
        "label": "Bottom Margin - Mobile",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 40
      },
      {
        "id": "bottom_margin_desktop",
        "label": "Bottom Margin - Desktop",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 70
      }
    ],
    "templates": [
      "cart"
    ],
    "presets": [
      {
        "name": "Cart Page",
        "category": "Cart"
      }
    ]
  }
{% endschema %}